
.container {
    width: 90%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 1073px;
      /* max-width: 960px; */
    }
  }
  
  @media (min-width: 1500px) {
    .container {
      max-width: 1440px;
    }
  }